@page "/regions"
<h1>Continents</h1>
<MudGrid>
  <MudItem xs="12" sm="6" md="4">
    <MudCard>
      <MudCardMedia Image="/images/annwn.jpeg"/>
      <MudCardContent>
        <MudText Typo="Typo.h6">Annwn</MudText>
        <MudText Typo="Typo.body2">Misty, cold southern continent.</MudText>
      </MudCardContent>
      <MudCardActions>
        <MudButton Href="/regions/annwn" Variant="Variant.Text">View</MudButton>
      </MudCardActions>
    </MudCard>
  </MudItem>
  <!-- Repeat for others -->
  <MudItem xs="12" sm="6" md="4">
    <MudCard>
      <MudCardMedia Image="/images/europe.jpg" />
      <MudCardContent>
        <MudText Typo="Typo.h6">TBD</MudText>
        <MudText Typo="Typo.body2">Lorem yada yada latin stuff.</MudText>
      </MudCardContent>
      <MudCardActions>
        <MudButton Href="/regions/???" Variant="Variant.Text">View</MudButton>
      </MudCardActions>
    </MudCard>
  </MudItem>
  <MudItem xs="12" sm="6" md="4">
    <MudCard>
      <MudCardMedia Image="/images/europe.jpg" />
      <MudCardContent>
        <MudText Typo="Typo.h6">TBD</MudText>
        <MudText Typo="Typo.body2">Lorem yada yada latin stuff.</MudText>
      </MudCardContent>
      <MudCardActions>
        <MudButton Href="/regions/???" Variant="Variant.Text">View</MudButton>
      </MudCardActions>
    </MudCard>
  </MudItem>
</MudGrid>

@code {

}
