@page "/timeline/sixth"
<h1>SixthEpoch</h1>
<MudTimeline TimelineOrientation="TimelineOrientation.Vertical">
	<MudTimelineItem Color="Color.Dark">
		<ItemOpposite>
			<MudText Color="Color.Dark" Typo="Typo.subtitle1"><b>Year 479</b></MudText>
		</ItemOpposite>
		<ItemContent>
			<MudText Color="Color.Dark" Typo="Typo.h6">Age of Desolation</MudText>
			<MudText>The early end age of the epoch known as the Age of Desolation following the 2nd War of Invasions saw the fall of the Western Heirocracy. In this power vacuum man from the south begin migrating northward settling and establish kingdoms.</MudText>
		</ItemContent>
	</MudTimelineItem>
	<MudTimelineItem Color="Color.Dark">
		<ItemOpposite>
			<MudText Color="Color.Dark" Typo="Typo.subtitle1"><b>Years 476-585</b></MudText>
		</ItemOpposite>
		<ItemContent>
			<MudText Color="Color.Dark" Typo="Typo.subtitle1"><b>Mannian Era</b></MudText>
			<MudText>Men migrate from the south and establish kingdoms over the elves of southern Etruria and the dwarves in southern Catonia. These kingdoms often warred amongst themselves with power and lands changing hands several times. Clashes with the Mykadian Empire to the north were frequent as well.</MudText>
		</ItemContent>
	</MudTimelineItem>
</MudTimeline>
@code {

}
